$color1: hsl(237, 55%, 27%);
$color-primary: rgb(8, 16, 59);
$first-color: hsl(243, 100%, 93%);
$second-color: hsl(229, 7%, 55%);
$third-color: hsl(228, 56%, 26%);
$fourth-color: hsl(229, 57%, 17%);
$fivecolor: hsl(6, 100%, 80%);
$sixcolor: hsl(335, 100%, 65%);
$sevencolor:linear-gradient(to right, $fivecolor, $sixcolor,)